POSTGRES_DB=finance_app
POSTGRES_USER=finance_user
POSTGRES_PASSWORD=change_me_strong_password

DB_URL=jdbc:postgresql://postgres:5432/finance_app
DB_USERNAME=finance_user
DB_PASSWORD=change_me_strong_password

APP_FRONTEND_URL=http://YOUR_SERVER_IP_OR_DOMAIN
APP_ALLOWED_ORIGINS=http://YOUR_SERVER_IP_OR_DOMAIN

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
